:root{
    --primary-colour: rgb(245, 245, 245);
    --secondry-colour: rgb(4, 170, 109);
    --title-text-colour: rgb(6, 150, 97);
    --text-colour: rgb(0, 0, 0);
    --secondry-text-colour: rgb(128, 128, 128);
    --active-text-colour: rgb(255, 255, 255);
    --hover-box-colour: rgb(85, 85, 85);
    --box-shadow-colour: rgb(0,0,0,0.5);
    --title-font-size: 2vw;
    --title-img-size: 3vw;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary-colour);
}
/* header start */
header{
    position: absolute;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px var(--secondry-colour) solid;
    border-radius: 0% 0% 20% 20%;
    box-shadow: 0px -6px 10px -8px var(--box-shadow-colour) inset;
    animation: borderGlow 1s infinite alternate ease;
}

@keyframes borderGlow{
    from{
        box-shadow: 0px 0px 0px 0px  var(--secondry-colour);
    }
    to{
        box-shadow: 0px 0px 25px -10px var(--secondry-colour);

    }
}

/* sidebar start */

.sidebar {
    background-color: var(--primary-colour);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-left: -300px;
    z-index: 10;
}
.sidebar a {
    display: block;
    color: var(--text-colour);
    padding: 11px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: var(--secondry-colour);
    color: var(--active-text-colour);
}

.sidebar a:hover:not(.active) {
    background-color: var(--hover-box-colour);
    color: var(--active-text-colour);
}

.user-detail{
    padding-top: 40px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user-detail .user{
    margin-top: 10px;
}

.user-detail .img{
    width: 100px;
    height: 100px;
    border: 1px var(--secondry-colour) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}
.user-detail .img:hover{
    box-shadow: 0px 0px 15px -3px var(--secondry-colour);

}

.user-detail .img img{
    border-radius: 50%;
    width: 99px;
    height: 99px;
}

.user-detail .name{
    font-weight: bold;
    font-size: larger;
}
.user-detail .email{
    font-weight: lighter;
    font-size: small;
    color: var(--secondry-text-colour);
}

.login-signup{
    visibility: hidden;
}

/* sidebar end */
/* nav-bar start */

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-button{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    font-size: var(--title-font-size);
}

.menu-button div{
    transition: 0.5s;
}
.menu-button:hover .b{
    box-shadow: 0px 0px 15px -1px var(--secondry-colour);
    background-color: var(--title-text-colour);
}

.menu-bars {
    display: inline-block;
    cursor: pointer;
  }
  
  .b {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-29deg) translate(-2px, 4px);
    transform: rotate(-29deg) translate(-2px, 4px);
    width: 12px;
    height: 3px;

  }
  
  .change .bar3 {
    -webkit-transform: rotate(29deg) translate(-2.5px, -4.5px);
    transform: rotate(29deg) translate(-2.5px, -4.5px);
    width: 12px;
    height: 3px;

  }

.nav-bar .title-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar .img-before-title{
    height: var(--title-img-size);
    padding-right: 10px;
}

.title-section img{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
}

.title-section .title{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--title-text-colour);
    font-size: var(--title-font-size);
    animation: textGlow 1s infinite alternate ease;
}

@keyframes textGlow{
    from{
        text-shadow: 0px 0px 0px  var(--secondry-colour);
    }
    to{
        text-shadow: 0px 0px 5px var(--secondry-colour);

    }
}

.nav-bar .img-after-title{
    height: var(--title-img-size);
    padding-left: 10px;
}

.nav-bar .search{
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.search-inside {
    cursor: pointer;
  }
  
  .circle{
      width:10px;
      height:10px;
      border:2px black solid;
      border-radius:50%;
      transition: 0.7s;
      font-size: 0px;
      cursor: pointer;
      outline: none;
   }
  
  .bar {
    width: 10px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    transform: rotate(60deg) translate(1px, -8px);
    transition: all 1s;
    cursor: pointer;
}
  
  .circle:focus + .bar {
  opacity: 0;
  transform: rotate(360deg) translate(100px, -80px);
  }
   .circle:focus {
    width: 150px;
    height: 20px;
    border-radius:10px;
    font-size: unset;
    padding-left: 10px;
    margin-top: 10px;
    cursor: text;
    border-color: var(--secondry-colour);
  }
 
  .search-inside:hover > .bar{
      background-color: var(--secondry-colour);
      box-shadow: 1px 0px 10px 1px var(--secondry-colour);
  }
  .search-inside:hover > .circle{
        border-color: var(--secondry-colour);
        box-shadow: 0px 0px 15px -1px var(--secondry-colour), 0px 0px 5px 0px inset var(--secondry-colour);
    }
    
.search-inside:hover:not(:focus) > .circle{
    box-shadow: 0px 0px 15px -1px var(--secondry-colour);
    
}




/* header end */