:root{
  --primary-colour: rgb(245, 245, 245);
  --secondry-colour: rgb(4, 170, 109);
  --title-text-colour: rgb(6, 150, 97);
  --text-colour: rgb(0, 0, 0);
  --secondry-text-colour: rgb(128, 128, 128);
  --active-text-colour: rgb(255, 255, 255);
  --hover-box-colour: rgb(85, 85, 85);
  --box-shadow-colour: rgb(0,0,0,0.5);
  --title-font-size: 2vw;
  --title-img-size: 3vw;
}

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-colour);
}
/* header start */
header{
  padding: 6px 0px 6px 0px;
  z-index: 10;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px var(--secondry-colour) solid;
  box-shadow: 0px -6px 10px -6px var(--box-shadow-colour) inset;
}

/* sidebar start */

.sidebar {
  background-color: var(--primary-colour);
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  margin-left: -300px;
  z-index: 10;
  transition: margin-left 500ms;
}
.sidebar a {
  display: block;
  color: var(--text-colour);
  padding: 11px;
  margin-left: -300px;
  text-decoration: none;
  transition: all 0.7s;
}

.sidebar a.active {
  background-color: var(--secondry-colour);
  color: var(--active-text-colour);
}

.sidebar a:hover:not(.active) {
  color: var(--active-text-colour);
  animation: hoverBg 1s forwards;
  background-image: linear-gradient(to right,var(--hover-box-colour), var(--primary-colour));
  animation-timing-function: ease;
  background-size: 600px 10px;
}

@keyframes hoverBg {
  0%{
    background-position: 100% 0%;
  }
  100%{
    background-position: 0% 0%;
  }
}

.delay-menu-options a{
  margin-left: 0px;
}

.delay-menu-options a:nth-child(6n + 1) {
  transition-delay: 0s;
}

.delay-menu-options a:nth-child(6n + 2) {
  transition-delay: 0.1s;
}

.delay-menu-options a:nth-child(6n + 3) {
  transition-delay: 0.2s;
}

.delay-menu-options a:nth-child(6n + 4) {
  transition-delay: 0.3s;
}

.delay-menu-options a:nth-child(6n + 5) {
  transition-delay: 0.4s;
}

.delay-menu-options a:nth-child(6n + 6) {
  transition-delay: 0.5s;
}

.user-detail{
  padding-top: 40px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-detail .user{
  margin-top: 10px;
}

.user-detail .img{
  width: 100px;
  height: 100px;
  border: 1px var(--secondry-colour) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.user-detail .img:hover{
  box-shadow: 0px 0px 15px -3px var(--secondry-colour);

}

.user-detail .img img{
  border-radius: 50%;
  width: 99px;
  height: 99px;
}

.user-detail .name{
  font-weight: bold;
  font-size: larger;
}
.user-detail .email{
  font-weight: lighter;
  font-size: small;
  color: var(--secondry-text-colour);
}

.login-signup{
  visibility: hidden;
}

/* sidebar end */
/* nav-bar start */

.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-button{
  /* margin-left: 10px; */
  display: flex;
  flex: 1;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  font-size: var(--title-font-size);
}

.menu-button div{
  transition: 0.5s;
}
.menu-button:hover .b{
  box-shadow: 0px 0px 15px -1px var(--secondry-colour);
  background-color: var(--title-text-colour);
}

.menu-bars {
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
}

.b {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-29deg) translate(-2px, 4px);
  transform: rotate(-29deg) translate(-2px, 4px);
  width: 12px;
  height: 3px;

}

.change .bar3 {
  -webkit-transform: rotate(29deg) translate(-2.5px, -4.5px);
  transform: rotate(29deg) translate(-2.5px, -4.5px);
  width: 12px;
  height: 3px;

}

.nav-bar .title-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar .img-before-title{
  height: var(--title-img-size);
  padding-right: 10px;
}

.title-section img{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  pointer-events: none;
}

.title-section .title{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: var(--title-text-colour);
  font-size: var(--title-font-size);
}

.nav-bar .img-after-title{
  height: var(--title-img-size);
  padding-left: 10px;
}

.nav-bar .search{
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
/* search bar start */

.search-inside {
  cursor: pointer;
}

.circle{
  width:10px;
  height:10px;
  border:2px black solid;
  border-radius:50%;
  transition: 0.7s;
  font-size: 0px;
  cursor: pointer;
  outline: none;
}

.bar {
  width: 10px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
  transform: rotate(60deg) translate(1px, -8px);
  transition: all 1s;
  cursor: pointer;
}

.circle:focus + .bar {
  opacity: 0;
  transform: rotate(360deg) translate(100px, -80px);
}
.circle:focus {
  width: 150px;
  height: 20px;
  border-radius:10px;
  font-size: unset;
  padding-left: 10px;
  margin-top: 10px;
  cursor: text;
  border-color: var(--secondry-colour);
}

.search-inside:hover > .bar{
  background-color: var(--secondry-colour);
  /* box-shadow: 1px 0px 10px 1px var(--secondry-colour); */
}
.search-inside:hover > .circle{
  border-color: var(--secondry-colour);
  /* box-shadow: 0px 0px 15px -1px var(--secondry-colour), 0px 0px 5px 0px inset var(--secondry-colour); */
}

/* .search-inside:hover:not(:focus) > .circle{ */
  /* box-shadow: 0px 0px 15px -1px var(--secondry-colour); */
  
/* } */

/* search bar end */
/* header end */
/* body start */
/* slideshow start */
.container{
  width: 100%;
  height: 80vh;
  color: white;
  overflow: hidden;
}

.slide{
  padding: 20px 0px 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.first-slide{
  background-image: linear-gradient(-45deg, #256437, #46A36C, #256437);
}
.second-slide{
  background-image: linear-gradient(-45deg, #3C1F10, #925A4A, #3C1F10);
}
.third-slide{
  background-image: linear-gradient(-45deg, #CDB68A, #ADADAD, #CDB68A);
}
.four-slide{
  background-image: linear-gradient(-45deg, #485F7E,#7998C8,#485F7E);
}
.five-slide{
  background-image: linear-gradient(-45deg, #4D5B39,#A7B792,#4D5B39);
}
.six-slide{
  background-image: linear-gradient(-45deg, #1B1B1B,#DDDDDD,#1B1B1B);
}
.seven-slide{
  background-image: linear-gradient(-45deg, #debc7a,#f6e8c8,#debc7a);
}

.brandname{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.brandname img{
  height: 100px;
}
.watch{
  height: 70vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch img{
  height: 400px;
  transform: rotate(-15deg) translateY(-50px);
  animation: watchMotion 2s infinite alternate ease-in-out;
}

@keyframes watchMotion {
  0%{
    /* opacity: 0; */
    transform: rotate(-15deg) translateY(-10px);
  }
  100%{
    /* opacity: 1; */
    transform: rotate(-15deg) translateY(10px);
  }
}

.tagline{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  width: 20%;
  font-family: "Sofia", sans-serif;
  color: rgb(218, 218, 218);
}
/* slideshow end */
/* banner start */
.banner{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(239, 239, 239);
  height: 180px;
  width: 150vw;
  display: flex;
  flex-direction: row;
}
.banner-container{
  margin: 10px;
  background-color: white;
  height: 160px;
  width: 590px;
}
/* banner end */
/* body end */





/* Responsive */

/* @media only screen and (max-width: 2000px) {
  :root{
    --title-font-size: 2vw;
  }
}
*/
@media only screen and (max-width: 1200px) {
  :root{
    --title-font-size: 4vw;
  }
  .brandname img{
    height: 50px;
    margin-left: 30px;
  }
  .watch img{
    height: 300px;
  }
} 